In [1]:
import pandas as pd

In [2]:
#writing required datas
students_data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [20, 21, 22],
    'Major': ['Physics', 'Chemistry', 'Mathematics']
},
scores_data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Score': [85, 90, 88]
},
courses_data = {
    'CourseID': [101, 102, 103],
    'CourseName': ['Biology', 'History', 'Computer Science']
}
print(students_data)
print(scores_data)
print(courses_data)

({'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [20, 21, 22], 'Major': ['Physics', 'Chemistry', 'Mathematics']},)
({'Name': ['Alice', 'Bob', 'Charlie'], 'Score': [85, 90, 88]},)
{'CourseID': [101, 102, 103], 'CourseName': ['Biology', 'History', 'Computer Science']}

In [3]:
#converting given datas in dataframe
data1=pd.DataFrame(students_data)
data2=pd.DataFrame(scores_data)
data3=pd.DataFrame(courses_data)
print(data1)
print(data2)
print(data3)

                    Name           Age                              Major
0  [Alice, Bob, Charlie]  [20, 21, 22]  [Physics, Chemistry, Mathematics]
                    Name         Score
0  [Alice, Bob, Charlie]  [85, 90, 88]
   CourseID        CourseName
0       101           Biology
1       102           History
2       103  Computer Science

In [5]:
concatenate_rowwise=pd.concat([data1,data2])     #it is not completed
print(concatenate_rowwise)

                    Name           Age                              Major  \
0  [Alice, Bob, Charlie]  [20, 21, 22]  [Physics, Chemistry, Mathematics]
0  [Alice, Bob, Charlie]           NaN                                NaN

          Score
0           NaN
0  [85, 90, 88]