In [3]:
#importing pandas
import pandas as pd

In [4]:
#creating dataframe in which we are going to find the outlier
data=pd.DataFrame({"Numbers":[10, 12, 15, 18, 20, 22, 25, 28, 30, -50, -60, -70]})
data

    Numbers
0        10
1        12
2        15
3        18
4        20
5        22
6        25
7        28
8        30
9       -50
10      -60
11      -70

In [5]:
#Finding the standard deviation and mean as they are crucial to find z-score
mean=data["Numbers"].mean()
std=data["Numbers"].std()

In [6]:
#finding z-score of column Numbers using formula z-score=(data["Numbers"]-mean)/std
data["Z-score"]=(data["Numbers"]-mean)/std
data["Z-score"]

0     0.270928
1     0.325113
2     0.406392
3     0.487670
4     0.541855
5     0.596041
6     0.677319
7     0.758598
8     0.812783
9    -1.354639
10   -1.625566
11   -1.896494
Name: Z-score, dtype: float64

In [7]:
#lets we keep threshold <0 means numbers whose z-score<0 are outliers
outliers=data[data["Z-score"]<0]
outliers

    Numbers   Z-score
9       -50 -1.354639
10      -60 -1.625566
11      -70 -1.896494

In [9]:
#printing the numbers excepts outliers
data=data[data["Z-score"]>=0]  #here we reassign values to data but it must be outlier free data
print("data without outliers is given below ")
print(data)

data without outliers is given below
   Numbers   Z-score
0       10  0.270928
1       12  0.325113
2       15  0.406392
3       18  0.487670
4       20  0.541855
5       22  0.596041
6       25  0.677319
7       28  0.758598
8       30  0.812783