In [ ]:
#outliers are the unusual datapoints in the data
#1,2,3,4,5,6,7,8,99,10,11 here 99 is outlier as it is very high as compared to others
#outliers can be found and handled using different methods here we handle outliers using Z-score method

In [2]:
#importing the required libraries
import numpy as np    #removing outliers can only be done using pandas no need of numpy
import pandas as pd

In [48]:
#creating dataframe
data=pd.DataFrame({"age":[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 50]})
data

    age
0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
10   30
11   50

In [49]:
#calculating the mean and standard deviation using pandas as they are required to calculate the z-score
mean=data['age'].mean()
std=data['age'].std()  #Standard deviation is the average amount of variability in a dataset. 
                       #It tells you how far each value lies from the mean and how spread out the data is.

In [50]:
#calculating the mean and standard deviation
mean=np.mean(data['age'])
std=np.std(data['age'])
std

7.543853274171114

In [51]:
#calculating Z-score of each datapoint to find the outlier
#formula of z-score of each datapoint is "z-score=datapoint-mean/std
data["z-score"]=(data['age']-mean)/std
data["z-score"]

0    -0.938954
1    -0.806396
2    -0.673838
3    -0.541280
4    -0.408721
5    -0.276163
6    -0.143605
7    -0.011047
8     0.121512
9     0.254070
10    0.386628
11    3.037793
Name: z-score, dtype: float64

In [52]:
#let our threshold is 3 and -3 it means that if any datapoint has z-score <-3 or z-score>+3 then it is outlier if 
#z-score is between these values then it means that it is not outlier but a normal value

In [53]:
#printing the outliers
print(f"Here are the outliers based on the z-score threshold, 3:\n {data[data['z-score'] > 3]}")
print("----------------------------------------")

Here are the outliers based on the z-score threshold, 3:
     age   z-score
11   50  3.037793
----------------------------------------

In [56]:
#Removing the outliers
data=data[data['z-score']<=3]  #here we assign data all the values without outliers
data

    age   z-score
0    20 -0.938954
1    21 -0.806396
2    22 -0.673838
3    23 -0.541280
4    24 -0.408721
5    25 -0.276163
6    26 -0.143605
7    27 -0.011047
8    28  0.121512
9    29  0.254070
10   30  0.386628

In [57]:
#printing the data without outliers
print(data)

    age   z-score
0    20 -0.938954
1    21 -0.806396
2    22 -0.673838
3    23 -0.541280
4    24 -0.408721
5    25 -0.276163
6    26 -0.143605
7    27 -0.011047
8    28  0.121512
9    29  0.254070
10   30  0.386628

In [ ]:
#for further ways of finding outliers using z-score please see 'abc of statistics for datascience at codanics website'