In [1]:
#importing the required libraries
import pandas as pd
import numpy as np

In [2]:
#create data
data=pd.DataFrame({"age":[20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 50]})
data

    age
0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
10   30
11   50

In [3]:
#Q1 (First Quartile): This represents the 25th percentile of the data, meaning 25% of the data points lie below this value.

#Q3 (Third Quartile): This represents the 75th percentile of the data, meaning 75% of the data points lie below this value.

In [6]:
#Calculate the first and third quartile
Q1=np.percentile(data["age"],25,interpolation="midpoint") #all the values less than or equal to Q1  are 25% of data 
Q3=np.percentile(data["age"],75, interpolation="midpoint") #all the values less than or equal to Q3 are 75% of data

28.5

In [8]:
#calculate the interquartile range (IQR):
#IQR measures the spread of the middle 50% of the data.
IQR=Q3-Q1     #IQR means the point which divides data into 50% 50% equal parts

In [10]:
#calculating the upper and lower bound
lower_bound=Q1-(1.5*IQR)
upper_bound=Q3+(1.5*IQR)

37.5

In [38]:
#WHY UPPER AND LOWER BOUNDS
#Data points that lie outside these bounds are considered outliers. 
#it means if any datapoint<lower_bound or >upper_bound is outlier
#This method helps to flag unusually high or low values that could distort analysis and modeling.

In [39]:
# Step 7:Identify and print the outliers
print(f"Here are the outliers based on the IQR threshold:\n {data[(data['age'] < lower_bound) | (data['age'] > upper_bound)]}")
print("----------------------------------------")

Here are the outliers based on the IQR threshold:
     age
11   50
----------------------------------------

In [40]:
# Step 8: Remove the outliers
data = data[(data['age'] >= lower_bound) & (data['age'] <= upper_bound)]
#here data is assigned all points except outliers

In [41]:
#Printing the data without outliers
print(f"Here is the data without outliers:\n {data}")

Here is the data without outliers:
     age
0    20
1    21
2    22
3    23
4    24
5    25
6    26
7    27
8    28
9    29
10   30