In [20]:
#importing required libraries
#import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [25]:
#loading the required dataset from seaborn
penguins=sns.load_dataset('penguins')
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [59]:
#finding the missing values using isnull() method of 
penguins.isnull().sum().sort_values(ascending=False)

species              0
island               0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [28]:
#deleting the bill_length_mm column as it contains the missing values
penguins.drop('bill_length_mm', inplace=True, axis=1)

In [31]:
#filling the missing values of bill_depth_mm with the median of bill_depth_mm column
penguins['bill_depth_mm']=penguins['bill_depth_mm'].fillna(penguins['bill_depth_mm'].median())

In [33]:
#filling the missing values of body_mass_g using the mean of body_mass_g column
mean_of_column=penguins['body_mass_g'].mean()
penguins['body_mass_g']=penguins['body_mass_g'].fillna(mean_of_column)

In [51]:
#filling the missing values of sex column with the mode of sex column
mode_of_sex_column=penguins['sex'].mode()   #this is the code to find the mode of any column
penguins['sex']=penguins['sex'].fillna(penguins['sex'].mode()[0])

0    Male
Name: sex, dtype: object

In [56]:
#importing imputer from sklearn library
from sklearn.impute import SimpleImputer

In [58]:
#filling the missing values of flipper_length_mm column using SingleImputer and median
imputer=SimpleImputer(strategy='median')
penguins['flipper_length_mm']=imputer.fit_transform(penguins[['flipper_length_mm']])

In [ ]:
#the missing values can also be handled by other techniques which you can further view on codanics.com in book abc of statistics
#here now our dataset is free from all the missing values