MaxAbsScaler:It scales data between -1 to 1

Warning Risk of data leak :Do not use minmax_scale unless you know what you are doing.
A common mistake is to apply it to the entire data before splitting into training and test sets. 
This will bias the model evaluation because information would have leaked from the test set to the training set. 
In general, we recommend using MinMaxScaler within a Pipeline in order to prevent most risks of data leaking: 
pipe = make_pipeline(MinMaxScaler(), LogisticRegression()).

MaxAbs works on this formula: 



maxabs_of_each_Value=eachvalue/maxvalue of column

In [2]:
#importing required libraries
import pandas as pd
from sklearn.preprocessing import MaxAbsScaler

In [3]:
#creating a sample data
data={
    "Age":[10,2,19,15,20,13],
    "Salary":[10000,20000,15000,3000,240000,300000],
    "Height":[123,234,120,190,99,105]}

In [4]:
#converting data in pandas DataFrame
df=pd.DataFrame(data)
print(df)

   Age  Salary  Height
0   10   10000     123
1    2   20000     234
2   19   15000     120
3   15    3000     190
4   20  240000      99
5   13  300000     105

In [5]:
#main lines of MaxAbs Scaler
scaler=MaxAbsScaler()
scaled_data=scaler.fit_transform(df)
scaled_data

array([[0.5       , 0.03333333, 0.52564103],
       [0.1       , 0.06666667, 1.        ],
       [0.95      , 0.05      , 0.51282051],
       [0.75      , 0.01      , 0.81196581],
       [1.        , 0.8       , 0.42307692],
       [0.65      , 1.        , 0.44871795]])

In [6]:
scaled_dataframe=pd.DataFrame(scaled_data, columns=df.columns)
scaled_dataframe

    Age    Salary    Height
0  0.50  0.033333  0.525641
1  0.10  0.066667  1.000000
2  0.95  0.050000  0.512821
3  0.75  0.010000  0.811966
4  1.00  0.800000  0.423077
5  0.65  1.000000  0.448718