In [1]:
#Data Merging: it is the name of merging multiple data collected from data sources but data must be in dataframe

In [4]:
#importing pandas
import pandas as pd

In [21]:
#Step1: defining data1
customer_info={
            "customer_id": [101,102,103],
            "customer_name": ["Alice Johnson","Bob Smith", "Charlie Brown"],
            "email": ["alice@example.com","bob@example.com","charlie@example.com"]}
print(customer_info)

{'customer_id': [101, 102, 103], 'customer_name': ['Alice Johnson', 'Bob Smith', 'Charlie Brown'], 'email': ['alice@example.com', 'bob@example.com', 'charlie@example.com']}

In [22]:
#converting data1 in datafram
data1=pd.DataFrame(customer_info)
data1.head()

   customer_id  customer_name                email
0          101  Alice Johnson    alice@example.com
1          102      Bob Smith      bob@example.com
2          103  Charlie Brown  charlie@example.com

In [31]:
#defining data2
order_info={
            "customer_id": [101,102,101],
            "order_id": [201,202,203],
            "product": ["Laptop", "Phone","Tablet"],
            "amount": [800,500,300]}
print(order_info)

{'customer_id': [101, 102, 101], 'order_id': [201, 202, 203], 'product': ['Laptop', 'Phone', 'Tablet'], 'amount': [800, 500, 300]}

In [32]:
#creating dataframe of data2
data2=pd.DataFrame(order_info)
print(data2)

   customer_id  order_id product  amount
0          101       201  Laptop     800
1          102       202   Phone     500
2          101       203  Tablet     300

In [33]:
#mergining the datas
merged_info=pd.merge(data1,data2, on="customer_id", how="inner")  #in "on" we assign the common attribute in data sets to be merged
print(merged_info)  #it is not showing customer_name=charlie brown b/c its customer_id=103 but in second table no customer_id=103 that's why

   customer_id  customer_name              email  order_id product  amount
0          101  Alice Johnson  alice@example.com       201  Laptop     800
1          101  Alice Johnson  alice@example.com       203  Tablet     300
2          102      Bob Smith    bob@example.com       202   Phone     500