In [1]:
import pandas as pd

In [2]:
#data1
products={
        "product_id": [101,102,103,201,202],
        "product_name": ["Laptop","Phone","Tablet","Shirt","Pants"],
        "price": [800,500,300,20,30],
        "category": ["Electronics","Electronics","Electronics","Clothing","Clothing"]}

In [3]:
#data2
orders={
        "order_id": [1001,1002,1003],
        "customer_id": ["C001","COO2","C003"],
        "product_id": [101,201,102] ,
        "quantity": [2,3,1], 
        "order_date": ["2023-11-25","2023-11-26","2023-11-27"]}

In [4]:
#converting data1 and data2 in dataframes
df1=pd.DataFrame(products)
df2=pd.DataFrame(orders)
print(df1)
print(df2)

   product_id product_name  price     category
0         101       Laptop    800  Electronics
1         102        Phone    500  Electronics
2         103       Tablet    300  Electronics
3         201        Shirt     20     Clothing
4         202        Pants     30     Clothing
   order_id customer_id  product_id  quantity  order_date
0      1001        C001         101         2  2023-11-25
1      1002        COO2         201         3  2023-11-26
2      1003        C003         102         1  2023-11-27

In [5]:
#merging both datas
merged_data=pd.merge(df1,df2, on="product_id", how="left")  #in on write the name of that column which is common in both datas
merged_data

,product_id,product_name,price,category,order_id,customer_id,quantity,order_date
0,101,Laptop,800,Electronics,1001.0,C001,2.0,2023-11-25
1,102,Phone,500,Electronics,1003.0,C003,1.0,2023-11-27
2,103,Tablet,300,Electronics,NaN,NaN,NaN,NaN
3,201,Shirt,20,Clothing,1002.0,COO2,3.0,2023-11-26
4,202,Pants,30,Clothing,NaN,NaN,NaN,NaN