MinMax Scaler: : It scales data from 0 to 1

Warning
Risk of data leak Do not use minmax_scale unless you know what you are doing. 
A common mistake is to apply it to the entire data before splitting into training and test sets. 
This will bias the model evaluation because information would have leaked from the test set to the training set. 
In general, we recommend using MinMaxScaler within a Pipeline in order to prevent most risks of data leaking:
pipe = make_pipeline(MinMaxScaler(), LogisticRegression()).

In [ ]:
#The formula of minmaxScaler is: eachvalue={(eachvalue-minimum_valueof_column)/(max_valueof_column-minimum_valueof_column)}

In [12]:
#importing necessary libraries
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

#creating a sample data
data={
    "Age":[10,2,19,15,20,13],
    "Salary":[10000,20000,15000,3000,240000,300000],
    "Height":[123,234,120,190,99,105]}

In [14]:
#converting data in pandas DataFrame
df=pd.DataFrame(data)
print(df)

   Age  Salary  Height
0   10   10000     123
1    2   20000     234
2   19   15000     120
3   15    3000     190
4   20  240000      99
5   13  300000     105

In [15]:
#scaling process
scaler=MinMaxScaler()
scaled_data=scaler.fit_transform(df)
scaled_data

array([[0.44444444, 0.02356902, 0.17777778],
       [0.        , 0.05723906, 1.        ],
       [0.94444444, 0.04040404, 0.15555556],
       [0.72222222, 0.        , 0.67407407],
       [1.        , 0.7979798 , 0.        ],
       [0.61111111, 1.        , 0.04444444]])

In [16]:
#data visualizing after scaling by converting scaled_data in pandas dataframe
dataframe_of_scaled_data=pd.DataFrame(scaled_data, columns=df.columns)  #df.columns means assign same names to the columns as given to the df columns
dataframe_of_scaled_data

        Age    Salary    Height
0  0.444444  0.023569  0.177778
1  0.000000  0.057239  1.000000
2  0.944444  0.040404  0.155556
3  0.722222  0.000000  0.674074
4  1.000000  0.797980  0.000000
5  0.611111  1.000000  0.044444