In [2]:
#importing pandas
import pandas as pd

In [4]:
#creating dataframe of data
data=pd.DataFrame({"column_name":[10, 12, 15, 18, 20, 22, 25, 28, 30, 500, 600, 700]})
data

    column_name
0            10
1            12
2            15
3            18
4            20
5            22
6            25
7            28
8            30
9           500
10          600
11          700

In [6]:
#calculating mean and standard deviation to calculate the z-score
mean=data["column_name"].mean()
std=data["column_name"].std()
print(f"mean of the data is {mean}")
print(f"Standard deviation of given data is {std}")

mean of the data is165.0
Standard deviation of given data is 265.8239335281224

In [8]:
#calculating z-score of all points of column and storing them in z-score column
data["z-score"]=(data["column_name"]-mean)/std
print(data["z-score"])

0    -0.583093
1    -0.575569
2    -0.564283
3    -0.552998
4    -0.545474
5    -0.537950
6    -0.526664
7    -0.515379
8    -0.507855
9     1.260233
10    1.636421
11    2.012610
Name: z-score, dtype: float64

In [10]:
#we keep threshold >=0 it means that datapoints whose z-score is >=0 are outliers
outliers=data[data["z-score"]>=0]
print("The outliers in given table are given below")
print(outliers)

The outliers in given table are the following
    column_name   z-score
9           500  1.260233
10          600  1.636421
11          700  2.012610

In [11]:
print("The data without outliers is given below")
data_without_outliers=data[data["z-score"]<0]
print(data_without_outliers)

The data without outliers is given below
   column_name   z-score
0           10 -0.583093
1           12 -0.575569
2           15 -0.564283
3           18 -0.552998
4           20 -0.545474
5           22 -0.537950
6           25 -0.526664
7           28 -0.515379
8           30 -0.507855