In [2]:
import pandas as pd
import numpy as np

In [3]:
#creating the dataframe
data=pd.DataFrame({"marks":[100,300,200,150,500,20000]})
data

   marks
0    100
1    300
2    200
3    150
4    500
5  20000

In [4]:
#calculating the mean and std using numpy
mean=np.mean(data["marks"])
std=np.std(data["marks"])
std

7361.5225251906195

In [5]:
#calculating z-score
data["z_score"]=(data["marks"]-mean)/std
data["z_score"]

0   -0.467521
1   -0.440353
2   -0.453937
3   -0.460729
4   -0.413184
5    2.235724
Name: z_score, dtype: float64

In [6]:
#finding the z_score of outlier while the threshold is kept 2
print(data[data["z_score"]>2])

   marks   z_score
5  20000  2.235724

In [7]:
#printing the data without outlier 
print(data[data["z_score"]<=2])

   marks   z_score
0    100 -0.467521
1    300 -0.440353
2    200 -0.453937
3    150 -0.460729
4    500 -0.413184

In [8]:
#but we have not removed outlier yet prove by printing data
print(data)

   marks   z_score
0    100 -0.467521
1    300 -0.440353
2    200 -0.453937
3    150 -0.460729
4    500 -0.413184
5  20000  2.235724

In [9]:
#to remove outliers we will reassign values to data but only those which are not outliers or we can assign outlier free data to another variable
data=data[data["z_score"]<=2]
print(data) #here it will print without outlier values

   marks   z_score
0    100 -0.467521
1    300 -0.440353
2    200 -0.453937
3    150 -0.460729
4    500 -0.413184