#Standard Scaling:
Standard Scaling is the method of Scaling data such that the distribution of data is concerned around 0, with a standard deviation of 1. This is done by subtracting mean of the data from each data point and then dividing by standard deviation of the data. This is very common method of scaling data, and is used in many machine learning algorithm.
It scales data between -3 to +3.
Its formula is as follows:
z = (x - u) / s
where:

z is the scaled data.

x is the original data.

u is the mean of the training samples.

s is the standard deviation of the training samples

In [35]:
#importing libraries
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [36]:
#creating a sample data
data={
    "Age":[10,2,19,15,20,13],
    "Salary":[10000,20000,15000,3000,240000,300000],
    "Height":[123,234,120,190,99,105]}

In [37]:
#converting data in pandas DataFrame
df=pd.DataFrame(data)
print(df)

   Age  Salary  Height
0   10   10000     123
1    2   20000     234
2   19   15000     120
3   15    3000     190
4   20  240000      99
5   13  300000     105

In [38]:
#scaling process
scaler=StandardScaler()
scaled_data=scaler.fit(df)
scaled_data=scaler.transform(df)
scaled_data

array([[-0.52434996, -0.7156995 , -0.44675921],
       [-1.84902354, -0.63437001,  1.79039594],
       [ 0.96590782, -0.67503476, -0.50722287],
       [ 0.30357103, -0.77263014,  0.9035957 ],
       [ 1.13149202,  1.15487874, -0.93046844],
       [-0.02759737,  1.64285567, -0.80954113]])

In [39]:
#data visualizing after scaling by converting scaled_data in pandas dataframe
dataframe_of_scaled_data=pd.DataFrame(scaled_data, columns=df.columns)  #df.columns means assign same names to the columns as given to the df columns
dataframe_of_scaled_data

        Age    Salary    Height
0 -0.524350 -0.715700 -0.446759
1 -1.849024 -0.634370  1.790396
2  0.965908 -0.675035 -0.507223
3  0.303571 -0.772630  0.903596
4  1.131492  1.154879 -0.930468
5 -0.027597  1.642856 -0.809541