In [20]:
#importing required libraries
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [21]:
#creating data to practice standard scaling
data = {'Age': [25, 30, 35, 40, 45, 50],
        'Income': [30000, 35000, 40000, 45000, 50000, 55000]}

In [22]:
#creating the dataframe of given data
df=pd.DataFrame(data,index=["Row1","Row2","Row3","Row4","Row5","Row6"])
print("The required data frame is ")
print(df)

The required data frame is
      Age  Income
Row1   25   30000
Row2   30   35000
Row3   35   40000
Row4   40   45000
Row5   45   50000
Row6   50   55000

In [23]:
#main lines of standard scaling
scaler=StandardScaler()
standard_scaled_data=scaler.fit_transform(df)
print(standard_scaled_data)

[[-1.46385011 -1.46385011]
 [-0.87831007 -0.87831007]
 [-0.29277002 -0.29277002]
 [ 0.29277002  0.29277002]
 [ 0.87831007  0.87831007]
 [ 1.46385011  1.46385011]]

In [24]:
#now writing down the scaled data in the form of dataframe
scaled=pd.DataFrame(standard_scaled_data, columns=df.columns)
scaled

       Age   Income
0 -1.46385 -1.46385
1 -0.87831 -0.87831
2 -0.29277 -0.29277
3  0.29277  0.29277
4  0.87831  0.87831
5  1.46385  1.46385